{% extends "_layout" %}

{% block content %}
    <section class="secties2 alle-r">
    {% set entries = craft.entries().section('recept').all() %}

    {% for entry in entries %}
      <article>
          <img src="{{entry.bannerImage.one().url('bannerImage')}}" alt="">
          <div>
            <h2><a href="{{entry.url}}">{{entry.title}}</a></h2>
            <p>{{entry.introduction}}</p>
            <a href="{{entry.url}}">Lees meer</a>
          </div>
      </article>
    {% endfor %}
      </section>
{% endblock %}