<!DOCTYPE html>
<html lang="{{craft.app.language}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName}}</title>
    {% do craft.app.view.registerCssFile('@web/styles/normalize.css') %}
    {% do craft.app.view.registerCssFile('@web/styles/style.css?1237') %}
</head>
<body>
    <header>
      {% set header = craft.entries().section('header').one() %}
      {{header.richText}}
    <nav>
        <input type="checkbox" name="menu-toggle" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
        <ul class="menu-nav">
            <li><a href="{{siteUrl}}">Home</a></li>
            <li><a href="{{siteUrl}}reclame">Nieuws & Inspiratie</a></li>
            <li><a href="{{siteUrl}}recept">Recepten</a></li>
            <li><a href="{{siteUrl}}assortiment">Ons Assortiment</a></li>
            <li><a href="{{siteUrl}}about-us">Over Ons</a></li>
        </ul>
    </nav>
</header>
    {% block content %}

    {% endblock %}
<footer>
      {% set footer = craft.entries().section('footer').one() %}
      {{footer.richText}}
    </footer>

</body>
</html>