{% extends "_layout" %}

{% block content %}
{% set categories = craft.entries().section('storeCategories').all() %}
    <div class="indeling">
      {% for cat in categories %}
        <label><input type="checkbox" name="{{cat}}"/>{{cat}}</label>
      {% endfor %}
    </div>

    <section class="secties alle-producten">
    {% set entries = craft.entries().section('assortiment').all() %}

    {% for entry in entries %}
        <article>
          <picture>
            <source media="(max-width:959px)" srcset="{{entry.bannerImage.one().url('assortimentImage')}}">
            <source media="(min-width:960px)" srcset="{{entry.bannerImage.one().url('assortimentImage')}}">
            <img src="{{entry.bannerImage.one().url('bannerImage')}}" alt="">
          </picture>
            <div>
            {% for category in entry.storeCategories %}
                <span>{{category}}</span>
            {% endfor %}
              <h3><a href="#">{{entry.title}}</a></h3>
              <p>€{{entry.price}}</p>
              <a href="#">+ Voeg toe</a>
            </div>
        </article>
        </div>
        {% endfor %}
        </section>
{% endblock %}
