{% extends "_layout" %}


{% block content %}  
<section class="secties">
  {% set entries = craft.entries().section('reclame').limit(1) %}

  {% for entry in entries %}
    <article>
      <picture>
          <source media="(max-width:959px)" srcset="{{entry.bannerImage.one().url('bannerImage')}}">
          <source media="(min-width:960px)" srcset="{{entry.bannerImage.one().url('bannerImage')}}">
        <img src="{{entry.bannerImage.one().url('bannerImage')}}" alt="">
      </picture>
        <div class="padding" >
          <h2><a href="{{entry.url}}">{{entry.title}}</a></h2>
          <p>{{entry.introduction}}</p>
          <p>{{entry.fullText}}</p>
          <a href="{{entry.url}}">Lees meer</a>
        </div>
    </article>
  {% endfor %}
  </section>
    <h2 class="h2">Favoriete recepten</h2>
    <section class="secties2 alle-r">
    {% set entries = craft.entries().section('recept').all() %}

    {% for entry in entries %}
      <article>
          <img src="{{entry.bannerImage.one().url('bannerImage')}}" alt="">
          <div>
            <h2><a href="{{entry.url}}">{{entry.title}}</a></h2>
            <p>{{entry.introduction}}</p>
            <a href="{{entry.url}}">Lees meer</a>
          </div>
      </article>
    {% endfor %}
        </section>
{% endblock %}
